---
import IndexProducts from '../components/index-products';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Productos'>
  <main>
    <IndexProducts client:load />
  </main>
</Layout>

<style></style>
